{% load static %}

 <!-- Footer -->
 <footer id="footer" class="footer divider layer-overlay overlay-dark-9" data-bg-img="{% static 'website/images/carousel/LMP-34.jpg' %}">
    <div class="container pt-70 pb-40">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <img class="mt-5 mb-20" alt="" src="{% static 'dashboard/assets/img/logo-white.png' %}" style="max-height: 85px;" />
                    <p>
                        GA 3413353 P. O. Box AH50 | Achimota, Accra, Ghana
                    </p>
                    <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-phone text-theme-colored2 mr-5"></i>
                            <a class="text-gray" href="#">+233 (0) 242 051 667</a>
                        </li>
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-phone text-theme-colored2 mr-5"></i>
                            <a class="text-gray" href="#">+233 (0) 246 015 233</a>
                        </li>
                    </ul>
                    
                    <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-phone text-theme-colored2 mr-5"></i>
                            <a class="text-gray" href="#">+233 (0) 245 440 800</a>
                        </li>
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-phone text-theme-colored2 mr-5"></i>
                            <a class="text-gray" href="#">+233 (0) 209 096 062</a>
                        </li>
                        <!-- <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-phone text-theme-colored2 mr-5"></i>
                            <a class="text-gray" href="#">+233 (0) 244 660 201</a>
                        </li> -->
                    </ul>
                    <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-phone text-theme-colored2 mr-5"></i>
                            <a class="text-gray" href="#">+233 (0) 501 432 842</a>
                        </li>
                        <li class="m-0 pl-10 pr-10">
                            <i class="fa fa-envelope-o text-theme-colored2 mr-5"></i>
                            <a class="text-gray" href="#">alet@gimpa.edu.gh</a>
                        </li>
                    </ul>
                    <!-- <ul class="list-inline mt-5">
                        
                    </ul> -->

                    <ul class="styled-icons icon-sm icon-bordered icon-circled clearfix mt-10">
                        <li>
                            <a href="https://www.facebook.com/share/2g8VeyAnfmAr1eTZ/?mibextid=WC7FNe" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/company/gimpatrainingandconsulting/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/p/C0KmxA4ISUW/?igshid=MTc4MmM1YmI2Ng==" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <h4 class="widget-title line-bottom-theme-colored-2">
                        Links
                    </h4>
                    <ul class="angle-double-right list-border">
                        <li><a href="{% url 'website:home' %}">Home</a></li>
                        <li><a href="{% url 'website:home' %}#about-gtc">About</a></li>
                        <li><a href="{% url 'website:home' %}#about-vision">Vision</a></li>
                        <li><a href="{% url 'website:faqs' %}">FAQ</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <h4 class="widget-title line-bottom-theme-colored-2">
                        Hours
                    </h4>
                    <div class="opening-hours">
                        <ul class="list-border">
                            <li class="clearfix">
                                <span> Mon: </span>
                                <div class="value pull-right">8.00 am - 5.00 pm</div>
                            </li>
                            <li class="clearfix">
                                <span> Tues:</span>
                                <div class="value pull-right">8.00 am - 5.00 pm</div>
                            </li>
                            <li class="clearfix">
                                <span> Wed:</span>
                                <div class="value pull-right">8.00 am - 5.00 pm</div>
                            </li>
                            <li class="clearfix">
                                <span> Thur:</span>
                                <div class="value pull-right">8.00 am - 5.00 pm</div>
                            </li>
                            <li class="clearfix">
                                <span> Fri : </span>
                                <div class="value pull-right">8.00 pm - 5.00 pm</div>
                            </li>
                            <li class="clearfix">
                                <span> Sat : </span>
                                <div class="value pull-right">8.00 pm - 5.00 pm</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom" data-bg-color="#2b2d3b">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-md-6">
                    <p class="font-12 text-black-777 m-0 sm-text-center">
                        Copyright &copy; 2023 GTC. All Rights Reserved
                    </p>
                </div>
                <div class="col-md-6 text-right">
                    <div class="widget no-border m-0">
                        <ul class="list-inline sm-text-center mt-5 font-12">
                            <li>
                                <a href="{% url 'website:faqs' %}">FAQs</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="{% url 'website:contact' %}">Help Desk</a>
                            </li>
                            <li>|</li>
                            <li>
                                <a href="{% url 'website:contact' %}">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / Footer -->