{% load static %}

<header id="header" class="header">
    <div class="header-top sm-text-center primary-color">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget text-white">
                        <ul class="list-inline xs-text-center text-white">
                            <li class="m-0 pl-10 pr-10">
                                <a href="tel:+233242051667" class="text-white"><i class="fa fa-phone text-white"></i>
                                    +233 (0) 242 051 667</a>
                            </li>
                            <li class="m-0 pl-10 pr-10">
                                <a href="mailto:trainingandconsulting@gimpa.edu.gh" class="text-white"><i class="fa fa-envelope-o text-white mr-5"></i>
                                    trainingandconsulting@gimpa.edu.gh</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 pr-0">
                    <div class="widget">
                        <ul class="styled-icons icon-sm pull-right flip sm-pull-none sm-text-center mt-5">
                            <li>
                                <a href="https://www.facebook.com/share/2g8VeyAnfmAr1eTZ/?mibextid=WC7FNe" target="_blank"><i class="fa fa-facebook text-white"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter text-white"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus text-white"></i></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/p/C0KmxA4ISUW/?igshid=MTc4MmM1YmI2Ng==" target="_blank"><i class="fa fa-instagram text-white"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/gimpatrainingandconsulting/" target="_blank"><i class="fa fa-linkedin text-white"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <ul class="list-inline sm-pull-none sm-text-center text-right text-white mb-sm-20 mt-10">
                        <li class="m-0 pl-10">
                            <a href="{% url 'accounts:login' %}" target="_blank" class="text-white"><i
                                    class="fa fa-user-o mr-5 text-white"></i> Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-white nav-lg">
            <div class="container">
                <nav id="menuzord-right" class="menuzord default no-bg">
                    <a class="menuzord-brand switchable-logo pull-left flip mt-20 pt-5" href="{% url 'website:home' %}">
                        <img class="logo-default" src="{% static 'dashboard/assets/img/gtc-logo.jpg' %}" alt="" />
                        <img class="logo-scrolled-to-fixed" src="{% static 'dashboard/assets/img/gtc-logo.jpg' %}" alt="" />
                    </a>
                    <ul class="menuzord-menu">
                        <li class="active">
                            <a href="{% url 'website:home' %}" class="primary-color">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                            <ul class="dropdown">
                                <li>
                                    <a href="{% url 'website:home' %}#about-gtc">GTC</a>
                                </li>
                                <li>
                                    <a href="{% url 'website:home' %}#about-team">Team</a>
                                </li>

                                <li>
                                    <a href="{% url 'website:home' %}#about-gallery">Gallery</a>
                                </li>
                                <li>
                                    <a href="{% url 'website:contact' %}">Contact</a>
                                </li>
                                <li>
                                    <a href="{% url 'website:faqs' %}">FAQs</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#courses">Courses</a>
                            <ul class="dropdown">

                                <li><a href="{% url 'website:courses' %}">Explore All</a></li>
                                {% for category in all_categories %}
                                <li><a
                                        href="{% url 'website:courses' %}?category_id={{category.id}}&category_name={{category.name}}">{{category.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'website:application' %}">Application</a>
                        </li>
                        <li>
                            <!-- search bar - Courses -->
                              <form action="{% url 'website:courses' %}" method="GET">
                                <div class="search-container">
                                    <div class="search-icon" id="searchIcon">
                                      <i class="fas fa-search"></i>
                                    </div>
                                    <input type="text" name="query" id="searchInput" placeholder="Search Courses">
                                    <label for="searchInput">Search...</label>
                                  </div>
                              </form> 
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>