{% load static %}
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <div class="sidebar-logo">
            <a href="">
                    <img src="{% static 'website/images/logo-wide.png' %}" class="img-fluid logo" alt="">
                </a>
            <a href="">
                    <img src="{% static 'website/images/gimpa-round-logo.jpg' %}" class="img-fluid logo-small" alt="">
                </a>
        </div>
    </div>
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <!-- Main -->
            <ul>
                <li class="menu-title"><span>Main</span></li>
                <li class="">
                    <a href="{% url 'dashboard:dashboard' %}"><i class="fe fe-home"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
                </li>
            </ul>
            <!-- /Main -->

            <!-- Customers -->
            <ul>
                <li class="menu-title"><span>Applications</span></li>
                <li>
                    <a href="{% url 'dashboard:applications' %}"><i class="fe fe-users"></i> <span>Applications</span></a>
                </li>
                <li>
                    <a href="{% url 'dashboard:admissions' %}"><i class="fe fe-file"></i> <span>Admissions</span></a>
                </li>
                <li>
                    <a href="{% url 'dashboard:applicants' %}"><i class="fe fe-file"></i> <span>Applicants</span></a>
                </li>
            </ul>
            <!-- /Customers -->

            <!-- Purchases -->
            <ul>
                <li class="menu-title"><span>Courses</span></li>
                <li>
                    <a href=""><i class="fe fe-shopping-cart"></i> <span>Courses</span></a>
                </li>
                <li>
                    <a href=""><i class="fe fe-shopping-bag"></i> <span>Course Category</span></a>
                </li>
            </ul>
            <!-- /Purchases -->

            <!-- Finance & Accounts -->
            <ul>
                <li class="menu-title"><span>Finance & Accounts</span></li>
                <li>
                    <a href=""><i class="fe fe-credit-card"></i> <span>Payments</span></a>
                </li>
            </ul>
            <!-- /Finance & Accounts -->


            <!-- User Management -->
            <ul>
                <li class="menu-title"><span>User Management</span></li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-user"></i> <span> Manage Users</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="">Add User</a></li>
                        <li><a href="">Users</a></li>
                    </ul>
                </li>
                <li>
                    <a href="roles-permission.html"><i class="fe fe-clipboard"></i> <span>Roles & Permission</span></a>
                </li>
            </ul>
            <!-- /User Management -->


            <!-- Content (CMS) -->
            <ul>
                <li class="menu-title"><span>Content (CMS)</span></li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-folder"></i> <span> Gallery</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="">Images</a></li>
                        <li><a href="">Image Category</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="#"><i class="fe fe-book"></i> <span> Blog</span> <span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="">Blogs</a></li>
                        <li><a href="">Categories</a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fe fe-message-square"></i> <span>Staff</span></a>
                </li>
                <li>
                    <a href=""><i class="fe fe-message-square"></i> <span>Media Handles</span></a>
                </li>
                <li>
                    <a href=""><i class="fe fe-message-square"></i> <span>Testimonials</span></a>
                </li>
                <li>
                    <a href=""><i class="fe fe-alert-circle"></i> <span>FAQ</span></a>
                </li>
            </ul>
            <!-- /Content (CMS) -->

            <!-- Support -->
            <ul>
                <li class="menu-title"><span>Support</span></li>
                <li>
                    <a href=""><i class="fe fe-printer"></i> <span>Contact Messages</span></a>
                </li>
                <li>
                    <a href=""><i class="fe fe-printer"></i> <span>Custom Courses</span></a>
                </li>
                <li>
                    <a href=""><i class="fe fe-printer"></i> <span>Notifications</span></a>
                </li>
               
            </ul>
            <!-- /Support -->

            <!-- Settings -->
            <ul>
                <li class="menu-title"><span>Settings</span></li>
                <li>
                    <a href=""><i class="fe fe-settings"></i> <span>Settings</span></a>
                </li>
                <li>
                    <a href=""><i class="fe fe-power"></i> <span>Logout</span></a>
                </li>
            </ul>
            <!-- /Settings -->

        </div>
    </div>
</div>
<!-- /Sidebar -->