{% extends 'base/primary_base.html' %} {% load static %} {% block content %}
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-theme-colored-7"
        data-bg-img="{% static 'website/images/bg/bg1.jpg' %}">
        <div class="container pt-120 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="secondary-text-color font-36">Application Status</h2>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="{% url 'website:home' %}">Home</a></li>
                            <li>
                                <a href="{% url 'website:home' %}#about-gtc">Application</a>
                            </li>
                            <li class="active">Status</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Contact -->
    <section class="divider">
        <div class="container pt-50 pb-70">
            <div class="row pt-10">
                <div class="col-md-12">
                    <h4 class="mt-0 mb-30 line-bottom-theme-colored-2">
                        Your Application Status
                    </h4>
                    <!--  -->
                    <br />
                    <br />

                    <!-- details of application -->
                    <div class="card container">
                        <h4 class="text-center card-title">Application Details</h4>

                        {% if application %}
                        
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 col-xs-12 text-left mb-5">
                                    <b>Name</b>
                                    <p>{{application.name}}</p>
                                </div>
                                <div class="col-md-4 col-xs- text-left mb-5">
                                    <b>Email</b>
                                    <p>{{application.email}}</p>
                                </div>
                                <div class="col-md-4 col-xs-12 text-left mb-5">
                                    <b>Phone</b>
                                    <p>{{application.phone}}</p>
                                </div>
                                <div class="col-md-4 col-xs-12 text-left mb-5">
                                    <b>Application ID</b>
                                    <p>{{application.application_id}}</p>
                                </div>
                                <div class="col-md-4 col-xs-12 text-left mb-5">
                                    <b>Application Status</b> <br>
                                    <p class="badge" style="background-color: yellowgreen;">{{application.application_status}}</p>
                                </div>
                                <div class="col-md-4 col-xs-12 text-left mb-5">
                                    <b>Course</b>
                                    <p>{{application.course.title}}</p>
                                </div>
                                <div class="col-md-4 col-xs-12 text-left mb-5">
                                    <b>Payment Mode</b>
                                    <p>{{application.payment_mode}}</p>
                                </div>
                                <div class="col-md-4 col-xs-12 text-left mb-5">
                                    <b>Payment Status</b> <br>
                                    <p class="badge" style="background-color: yellowgreen;">{{application.payment_status}}</p>
                                </div>
                                <div class="col-md-4 col-xs-12 text-left mb-5">
                                    <b>Date</b>
                                    <p>{{application.created_at}}</p>
                                </div>

                                <br>

                                <div class="col-12 mt-5">
                                    <a href="{% url 'website:download_letter' %}?application_id={{application.application_id}}?email={{application.email}}?phone={{application.phone}}" class="btn btn-primary btn-sm">Download Admission Letter</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <p class="text-center">No Application Found</p>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->
{% endblock %}