{% extends 'base/primary_base.html' %} {% load static %} {% block content %}
{% load humanize %}
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-theme-colored-7"
        data-bg-img="{% static 'website/images/carousel/LMP-30.jpg' %}">
        <div class="container pt-120 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-theme-colored2 font-36">Course Details</h2>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Courses</a></li>
                            <li class="active">{{course.title}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Services Details -->
    <section>
        <div class="container mt-30 mb-30 pt-30 pb-30">
            <div class="row">
                <div class="col-md-8">
                    <div class="single-service">
                        <ul class="list-inline mb-15">
                            <li>
                                <i class="fa fa-user text-theme-colored2 font-48"></i>
                                <div class="pull-right ml-5">
                                    <span>Teacher</span>
                                    <h5 class="mt-0">{{course.teachers}}</h5>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-window-restore text-theme-colored2 font-48"></i>
                                <div class="pull-right ml-5">
                                    <span>Category</span>
                                    <h5 class="mt-0">{{course.category.name}}</h5>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-money text-theme-colored2 font-48">
                                    <img src="static 'website/images/cedi.png' " alt="">
                                </i>
                                <div class="pull-right ml-10">
                                    <span>Course Price</span>
                                    <h5 class="mt-0">GHC{{course.price|floatformat:2}}</h5>
                                </div>
                            </li>
                        </ul>
                        <img src="{% if course.thumbnail %} {{course.thumbnail.url}} {% else %} {% static 'website/images/carousel/LMP-24.jpg' %} {% endif %} "
                            alt="">
                        <h3 class="text-uppercase mt-30 mb-10">{{course.title}}</h3>
                        <div class="double-line-bottom-theme-colored-2 mt-10"></div>
                        <p>{{course.description|safe}}</p>
                        <ul id="myTab" class="nav nav-tabs mt-30">
                            <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
                            <li><a href="#tab2" data-toggle="tab">Course Info</a></li>
                            <li><a href="#tab3" data-toggle="tab">Location & Cohort</a></li>
                            <li><a href="#tab4" data-toggle="tab">Reviews</a></li>
                            <li><a href="#tab5" data-toggle="tab">Comments</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active" id="tab1">
                                <h4 class="line-bottom-theme-colored-2 mb-15">Course Details</h4>
                                <p>{{course.details|safe}}</p>
                                <h4 class="line-bottom-theme-colored-2 mt-20 mb-10">Requirements</h4>
                                <ul class="list theme-colored2 angle-double-right">
                                    <p>{{course.requirements|safe}}</p>
                                </ul>
                                <h4 class="line-bottom-theme-colored-2 mt-20 mb-10">Course Syllabus</h4>
                                <ul class="list theme-colored2 paper">
                                    <p>{{course.syllabus|safe}}</p>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="tab2">
                                <h4 class="line-bottom-theme-colored-2 mb-15">Course Information</h4>
                                <ul class="course-info-list font-14 mt-20">
                                    <li>
                                        <span class="course-info-title">
                                            <i
                                                class="fa fa-money font-26 vertical-align-middle text-theme-colored2 mr-10"></i>Course Price:</span>
                                        <span class="course-info-details">GHC{{course.price|intcomma}} {% if course.fprice > 0 %} ({{course.fprice_currency}}{{course.fprice|intcomma}} For Foreign Applicants) {% endif %} </span>
                                    </li>
                                    <li>
                                        <span class="course-info-title">
                                            <i
                                                class="fa fa-calendar font-26 vertical-align-middle text-theme-colored2 mr-10"></i>Class
                                            Start:</span>
                                        <span class="course-info-details">{{course.start_date}}</span>
                                    </li>
                                    <li>
                                        <span class="course-info-title">
                                            <i
                                                class="fa fa-clock-o font-26 vertical-align-middle text-theme-colored2 mr-10"></i>Course
                                            Duration:</span>
                                        <span class="course-info-details">{{course.duration}}</span>
                                    </li>
                                    <li>
                                        <span class="course-info-title">
                                            <i
                                                class="fa fa-window-maximize font-26 vertical-align-middle text-theme-colored2 mr-10"></i>Course
                                            Capacity:</span>
                                        <span class="course-info-details">Max {{course.student_capacity}}
                                            Students</span>
                                    </li>
                                    <li>
                                        <span class="course-info-title">
                                            <i
                                                class="fa fa-calendar-o font-26 vertical-align-middle text-theme-colored2 mr-10"></i>Class
                                            Schedule:</span>
                                        <span class="course-info-details">{{course.class_days}}</span>
                                    </li>
                                    <li>
                                        <span class="course-info-title">
                                            <i
                                                class="fa fa-clock-o font-26 vertical-align-middle text-theme-colored2 mr-10"></i>Class
                                            Time:</span>
                                        <span class="course-info-details">{{course.class_time}}</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-pane fade" id="tab3">
                                <h4 class="line-bottom-theme-colored-2 mb-20">Location & Cohorts</h4>
                                <ul class="course-info-list font-14 mt-20">
                                    <li>
                                        <span class="course-info-title">
                                            <i
                                                class="fa fa-location font-26 vertical-align-middle text-theme-colored2 mr-10"></i>Location:
                                        </span>
                                        <span class="course-info-details">{{course.location}}</span>
                                    </li>
                                    <li>
                                        <span class="course-info-title">
                                            <i
                                                class="fa fa-calendar font-26 vertical-align-middle text-theme-colored2 mr-10"></i>Cohort:
                                        </span>
                                        <span class="course-info-details">{{course.cohort.name}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-pane fade" id="tab4">
                                <h4 class="line-bottom-theme-colored-2 mb-20">Course Reviews</h4>
                                <div class="course-reviews">
                                    <h4 class="mb-0">Average Rating:<span
                                            class="text-theme-colored2 vertical-align-middle font-30 ml-20">4.6</span>
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="star-rating filled mt-5 mb-5 ml-0">
                                                <span data-width="87%"></span>
                                            </div>
                                            <div class="course-progress-area">
                                                <div class="progress-item style3">
                                                    <div class="progress-title">
                                                        <h5>5 Stars<span class="pull-right">24</span></h5>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" data-percent="100"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-item style3">
                                                    <div class="progress-title">
                                                        <h5>4 Stars<span class="pull-right">5</span></h5>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" data-percent="75"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-item style3">
                                                    <div class="progress-title">
                                                        <h5>3 Stars<span class="pull-right">2</span></h5>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" data-percent="60"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-item style3">
                                                    <div class="progress-title">
                                                        <h5>2 Stars<span class="pull-right">0</span></h5>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" data-percent="35"></div>
                                                    </div>
                                                </div>
                                                <div class="progress-item style3">
                                                    <div class="progress-title">
                                                        <h5>1 Star<span class="pull-right">0</span></h5>
                                                    </div>
                                                    <div class="progress">
                                                        <div class="progress-bar" data-percent="15"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tab5">
                                <h4 class="line-bottom-theme-colored-2 mb-0">Comments</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blog-posts single-post">
                                            <div class="comments-area">
                                                <ul class="comment-list">
                                                    {% if comments %}
                                                    {% for comment in comments %}
                                                    <li>
                                                        <div class="media comment-author"> <a
                                                                class="media-left pull-left flip" href="#"><span
                                                                    class="img-thumbnail"><span
                                                                        class="fa fa-user"></span></span></a>
                                                            <div class="media-body">
                                                                <h5 class="media-heading comment-heading">
                                                                    {{comment.name}} says:</h5>
                                                                <div class="comment-date">{{comment.created_at}}</div>
                                                                <p>{{comment.comment}}</p>
                                                                <a class="replay-icon pull-right text-theme-colored2"
                                                                    href="javascript:void()"> <i
                                                                        class="fa fa-commenting-o text-theme-colored2"></i>
                                                                    ...</a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                    {% else %}
                                                    <div class="container">
                                                        <br>
                                                        <p>No comments yet</p>
                                                        <P>Be the first to write a commnet</P>
                                                    </div>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            <div class="comment-box">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <h5>Leave a Comment</h5>
                                                        <div class="row">
                                                            <form role="form" id="comment-form">
                                                                <div class="col-sm-6 pt-0 pb-0">
                                                                    <div class="form-group">
                                                                        <input type="text" class="form-control" required
                                                                            name="contact_name" id="contact_name"
                                                                            placeholder="Enter Name">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input type="text" required class="form-control"
                                                                            name="contact_email2" id="contact_email2"
                                                                            placeholder="Enter Email">
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <input type="text" placeholder="Enter Phone"
                                                                            required class="form-control"
                                                                            name="subject">
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <textarea class="form-control" required
                                                                            name="contact_message2"
                                                                            id="contact_message2"
                                                                            placeholder="Enter Message"
                                                                            rows="7"></textarea>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <button type="submit"
                                                                            class="btn btn-dark btn-flat pull-right m-0"
                                                                            data-loading-text="Please wait...">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div><a class="btn btn-xl primary-color mt-30 pr-40 pl-40 text-white"
                                href="{% url 'website:enroll' %}?course_id={{course.id}}">Enroll Now</a></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4">
                    <div class="sidebar sidebar-left mt-sm-30 ml-30 ml-sm-0">
                        <div class="widget border-1px bg-silver-deep p-15">
                            <h4 class="widget-title line-bottom-theme-colored-2 mb-10">Categories</h4>
                            <div class="categories">
                                <ul class="list-border">
                                    {% for category in categories %}
                                    <li><a
                                            href="{% url 'website:courses' %}?category_id={{category.id}}&category_name={{category.name}}">{{category.name}}<span>({{category.get_total_courses}})</span></a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="widget border-1px bg-silver-deep p-15">
                            <h4 class="widget-title line-bottom-theme-colored-2">Customized Training Request</h4>
                            <br>
                            <p class="primary-text-color">Request for customized training</p>
                            <form id="quick_contact_form_sidebar"
                                action="{% url 'website:course_details' %}" method="POST">
                                <div class="form-group">
                                    {% csrf_token %}
                                    <input name="email" class="form-control" type="text" required
                                        placeholder="Enter Email">
                                </div>
                                <div class="form-group">
                                    <input name="name" class="form-control" type="text" required
                                        placeholder="Enter Name">
                                </div>
                                <div class="form-group">
                                    <input name="phone" class="form-control" type="text" required
                                        placeholder="Enter Phone">
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" required
                                        placeholder="Enter Message" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit"
                                        class="btn btn-flat btn-xs primary-color pt-5 pb-5" style="color: white;"
                                        data-loading-text="Please wait...">Send Message</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->
{% endblock %}