{% extends 'base/primary_base.html' %}

{% load static %}

{% block content %}
<!-- Start main-content -->
<div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-theme-colored-7"
        data-bg-img="{% static 'website/images/carousel/LMP-30.jpg' %}">
        <div class="container pt-120 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="secondary-text-color font-36">Enrollment</h2>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="{% url 'website:home' %}">Home</a></li>
                            <li><a href="{% url 'website:home' %}#about-gtc">Courses</a></li>
                            <li class="active">Course Enrollment</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Divider: Contact -->
    <section class="divider">
        <div class="container pt-50 pb-70">
            <div class="row pt-10">
                <div class="col-md-5">
                    <h4 class="mt-0 mb-30 line-bottom-theme-colored-2">Confirm Application</h4>
                    <!-- course inf  -->
                    <div class="row">
                        <div class="col-md-6 col-xs-12 text-left mb-5">
                            <b>Course Title</b>
                            <p>{{course.title}}</p>
                        </div>
                        <div class="col-md-6 col-xs-12 text-left mb-5">
                            <b>Fees</b>
                            <p>{{course.price}}</p>
                        </div>
                        <div class="col-md-6 col-xs-12 text-left mb-5">
                            <b>Duration</b>
                            <p>{{course.duration}}</p>
                        </div>
                        <div class="col-md-6 col-xs-12 text-left mb-5">
                            <b>Course Category</b>
                            <p>{{course.category}}</p>
                        </div>
                        <div class="col-md-6 col-xs-12 text-left mb-5">
                            <b>Cohort</b>
                            <p>{{course.cohort.name}}</p>
                        </div>
                        <div class="col-md-6 col-xs-12 text-left mb-5">
                            <b>Start Date</b>
                            <p>{{course.start_date}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <h4 class="mt-0 mb-30 line-bottom-theme-colored-2">Personal Information</h4>
                    <!-- Contact Form -->
                    <form id="contact_form" name="contact_form" action="{% url 'website:enroll' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" name="course_id" value="{{course.id}}">

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input id="form_name" name="name" class="form-control" type="text"
                                        placeholder="Enter Name" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input id="form_email" name="email" class="form-control required email"
                                        type="email" placeholder="Enter Email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input id="form_name" name="company" class="form-control" type="text"
                                        placeholder="Enter Company" required="">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input id="form_email" name="certificate" class="form-control"
                                        type="file" {% if course.requires_certificate %} required {% endif %} accept="image/*">
                                        <small class="secondary-text-color">Upload Relevant Certificate</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input id="form_dob" name="dob" class="form-control" type="date"
                                       >
                                       <small class="secondary-text-color">Date of Birth</small>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input id="form_box_address" name="box_address" class="form-control" type="text" placeholder="Enter Address or Box No.">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <input id="form_phone" name="phone" class="form-control" type="text"
                                        placeholder="Enter Phone">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group mb-30">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="pay_now" id="flexCheckDefault">
                                        <label class="form-check-label" for="flexCheckDefault">
                                          Pay Online Now?
                                        </label>
                                        <small class="secondary-text-color">Don't worry, you can pay later.</small>
                                      </div>
                                </div>
                            </div>
                        </div>
                        

                        <div class="form-group">
                            <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden"
                                value="" />
                            <button type="submit" class="btn btn-flat btn-default bg-hover-theme-colored mr-5"
                                data-loading-text="Please wait...">Enroll Now</button>
                            <button type="reset"
                                class="btn btn-flat btn-theme-colored2 bg-hover-theme-colored">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- end main-content -->
{% endblock %}