{% extends 'base/primary_base.html' %}

{% load static %}

{% block content %}
 <!-- Start main-content -->
 <div class="main-content">
    <!-- Section: inner-header -->
    <section class="inner-header divider layer-overlay overlay-theme-colored-7" data-bg-img="{% static 'website/images/carousel/LMP-30.jpg' %}">
        <div class="container pt-120 pb-60">
            <!-- Section Content -->
            <div class="section-content">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-theme-colored2 font-36">FAQs</h2>
                        <ol class="breadcrumb text-left mt-10 white">
                            <li><a href="{% url 'website:home' %}">Home</a></li>
                            <li><a href="{% url 'website:home' %}#about-gtc">About Us</a></li>
                            <li class="active">FAQs</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="position-inherit">
        <div class="container">
            <div class="row">
                <div class="col-md-3 scrolltofixed-container">
                    <div class="list-group scrolltofixed z-index-0">
                        {% for faq in faqs %}
                        <a href="#section-{{faq.id}}" class="list-group-item smooth-scroll-to-target">{{faq.question}}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-9">
                    {% for faq in faqs %}
                    <div id="section-{{faq.id}}" class="mb-50">
                        <h3>{{faq.question}}</h3>
                        <hr>
                        <p class="mb-20">{{faq.answer}}</p>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>

</div>
<!-- end main-content -->
{% endblock %}