<!DOCTYPE html>
<html dir="ltr" lang="en">

<!-- top header -->
{% include 'includes/top_header.html' %}

<body class="">
    <div id="wrapper" class="clearfix">
        <!-- preloader -->
        {% include 'includes/preloader.html' %}

        <!-- Header -->
        {% include 'includes/header.html' %}
        
        <!-- Start main-content -->
        {% block content %}
        {% endblock %}
        <!-- End main content -->
       
        <!-- Footer -->
        {% include 'includes/footer.html' %}


        <!-- Footer -->
        {% include 'includes/modals.html' %}


        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <!-- end wrapper -->

    <!-- include scripts here -->
    {% include 'includes/scripts.html' %}

</body>

</html>